@import "main";

.main {
  display: flex;
  flex-direction: column;
  background-color: $bg-main;
  width: 48px * 10;
  padding: 10px;

  &-container {
    width: full;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-matrica {
    width: full;
    display: flex;
    flex-direction: row;
    padding-left: 24px;

    &-first {
      display: flex;
      flex-direction: column;
      gap: 2px;
      align-items: center;
      justify-content: center;
    }

    &-second {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 100px;
    }
  }
}

.hr-line-horizontal {
  margin-top: 6px;
  margin-bottom: 6px;
  border-left: 1.5px solid $border-main;
  height: 30px;
  width: 0;
}

.parent-wrapp {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2px;
  max-width: 55px * 3;
}

.martica-lines {
  position: relative;
  border-left: 1.5px solid $border-main;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 24px;
}
.martica-lines::after {
  content: "";
  position: absolute;
  background-color: $border-main;
}

.martica-lines::after {
  width: 180px; /* Half the width of the div */
  height: 1.5px; /* The thickness of the horizontal line */
  left: 50; /* Start from the left edge */
  transform: translateX(-100%);
}

.secondary-matrica {
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: full;
  align-items: center;
  justify-content: space-between;

  &-electricity {
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: center;
    justify-content: center;
  }
}
.line-vertical-full {
  border-left: 1.5px solid $border-main;
  height: 100%;
}
.matrica-item-medium {
  display: flex;
  align-items: center;
  justify-content: center;
}
