<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/ionizer.css" />
  </head>
  <body>
    <div class="main">
      <h1 class="text-primary">Матрица ионизаторa</h1>
      <div class="main-container">
        <div class="main-matrica">
          <div class="main-matrica-grid">
            <div class="matrica-item-rounded"></div>
            <div class="hr-line-with-margin-left"></div>
            <div class="hr-line-with-margin-right"></div>
            <div class="matrica-item"></div>
            <div class="left-bottom-lines"></div>
            <!-- Second row -->
            <div class="vr-line-with-margin-top"></div>
            <div></div>
            <div class="matrica-item"></div>
            <div class="hr-line-with-margin-left"></div>
            <div class="left-center-lines"></div>
            <!-- Third row -->
            <div class="vr-line-with-margin-bottom"></div>
            <div class="matrica-item"></div>
            <div class="hr-line-with-margin-left"></div>
            <div class="hr-line"></div>
            <div class="left-center-lines"></div>
            <!-- Forth row -->
            <div class="matrica-item"></div>
            <div class="hr-line-with-margin-left"></div>
            <div class="hr-line"></div>
            <div class="hr-line"></div>
            <div class="right-bottom-lines"></div>
          </div>
          <div class="main-matrica-secondary">
            <div class="main-matrica-secondary-line"></div>
            <div class="matrica-item-large"></div>
          </div>
        </div>
        <div class="secondary-matrica">
          <div class="secondary-matrica-electricity">
            <span class="text-percentage">0%</span>
            <div class="matrica-item-medium">
              <img
                src="../../assets/electricity-icon.svg"
                style="width: 30px; height: 30px"
                alt=""
              />
            </div>
          </div>
          <div class="line-vertical-full"></div>
          <img
            src="../../assets/startBTN.png"
            style="width: 30px; height: 30px"
            alt=""
          />
        </div>
      </div>
      <div class="button-group">
        <button class="btn-close">Закрыть</button>
        <button class="btn-open">Вставить</button>
      </div>
    </div>
  </body>
</html>
