<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/transplantator.css" />
  </head>
  <body>
    <div class="main">
      <h1 class="text-primary">Матрица трансплантатора</h1>
      <div class="parent-martica">
        <div class="matrica">
          <div class="hero-item"></div>
          <div class="parent">
            <div class="child">
              <hr class="hr-line" />
              <div class="matrica-item"></div>
            </div>
            <div class="child">
              <hr class="hr-line" />
              <div class="matrica-item"></div>
            </div>
            <div class="child">
              <hr class="hr-line" />
              <div class="matrica-item"></div>
            </div>
            <div class="child">
              <hr class="hr-line" />
              <div class="matrica-item"></div>
            </div>
          </div>
        </div>
        <img
          src="../../assets/startBTN.png"
          alt=""
          style="width: 32px; height: 32px; align-self: flex-end"
        />
      </div>
      <div class="button-group">
        <button class="btn-close">Закрыть</button>
        <button class="btn-open">Вставить</button>
      </div>
    </div>
  </body>
</html>
